<style>
</style>

<div>
    <h1>Organizador de equipaje</h1>
    <div ng-repeat="equip in model.equipaje">
        <h3>{{equip.titulo}}, Ocupa {{equip.espacio}}</h3>
        <img src="{{equip.imagen}}" width="90px">
        <button ng-click="anadirNeceser(equip);" style="height:50px;width:120px">Añadir al neceser</button>
        <button ng-click="anadirMaletaPequenia(equip);" style="height:50px;width:130px">Añadir a la maleta pequeña</button>
        <button ng-click="anadirMaletaGrande(equip);" style="height:50px;width:130px">Añadir a la maleta grande</button>
    <br>
    <br>

    </div>

    <h2> Neceser: </h2>
    <h4>Limite de espacio: {{limiteNeceser}}</h4>
    <div ng-repeat="cosas in neceser">
        <h3>{{cosas.titulo}}</h3>
        <h4>Cantidad: {{cosas.cantidad}}</h4>
        <h4>{{cosas.message}}</h4>
    </div>

    <h2> Maleta pequeña: </h2>
    <h4>Limite de espacio: {{limitePeque}}</h4>
    <div ng-repeat="cosas in maletaPequenia">
        <h3>{{cosas.titulo}}</h3>
        <h4>Cantidad: {{cosas.cantidadPeque}}</h4>
        <h4>{{cosas.messagePeque}}</h4>
    </div>

    <h2> Maleta grande: </h2>
    <h4>Limite de espacio: {{limiteGrande}}</h4>
    <div ng-repeat="cosas in maletaGrande">
        <h3>{{cosas.titulo}}</h3>
        <h4>Cantidad: {{cosas.cantidadGrand}}</h4>
        <h4>{{cosas.messageGrande}}</h4>
    </div>
</div>